{% extends 'main_page/base.html' %}
{% load static %}

{% block title %} about us page {% endblock %}

{% block css_additional %}
<link rel = "stylesheet" href = "{% static 'main_page/css/breed_map.css' %}" >
{% endblock %}

{% block js_additional %}{% endblock %}

{% block content %}
<form class = "d-flex" role = "search">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
<!--  <button class="btn btn-outline-dark" type="submit">Search</button>-->
  <a  href="/breed-card" class = "btn btn-outline-dark">SEARCH</a>
</form>

<ul class="list-group">

 {% for breed in breeds %}

    <li class="list-group-item"> <a class = "link" href = "/breed-card">
        <div class="card">
              <div class="row g-0">
                <div class="col-md-4">
                  <svg class="bd-placeholder-img" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text></svg>
                </div>
                <div class="col-md-8">
                  <div class="card-body">

                    <h5 class="card-title">
                        {{breed}}
                    </h5>

                    <p class="card-text">info</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
    </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}